doctype html
html
	head
		title= title || "Do Cool Shiz"
	body
		h2.
			Welcome to DoCoolShiz.com
		p.
			Currently the site is under construction :[
		p.
			But soon we hope to make here your 1-stop-shop for all things cool. There will (admittedly) be a focus on tech, at least in the beginning, but one day we hope to bring all sorts of cool projects from home decor DIY to tasty treats and snacks you can easily make at home.
		p.
			For starters we're hosting this very site on #[a(href="https://github.com/DoCoolShiz/docoolshiz", target="__blank") GitHub]. You can go there, dig around the code, and see what makes this place tick. If your new to programming, there will be many more easier projects to get started with!
		p.
			Your support for DoCoolShiz makes all the difference! Follow us on #[a(href="https://twitter.com/docoolshiz", target="__blank") Twitter], check out our videos on #[a(href="https://www.youtube.com/channel/UCEKALJSfOdmujzLJ_6xBu6g", target="__blank") YouTube], and help support us on #[a(href="https://www.patreon.com/user?u=3090387&ty=h", target="__blank") Patreon].
		p.
			&copy 2016 DoCoolShiz

